@charset "ISO-8859-1";

.order-list {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.order-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.order-item:last-child {
    border-bottom: none;
}

.order-item h3 {
    margin: 0;
}
